.section-presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  background-image: url('../../assets/img/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.section-presentation .container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16vh;
  margin-bottom: 8vh;
}

.section-presentation .container-logo .logo{
  width: 18vh;
  height: 18vh;
}

.section-presentation .container-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.section-presentation .container-tittle h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 5.5vh;
  font-weight: 700;
  color: hsl(210, 10%, 33%);
  margin: 0px;
}

.section-presentation .container-tittle p {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  font-weight: 400;
  opacity: 0.6;
  color: hsl(210, 10%, 33%);
  text-align: center;
  width: 70%;
}

.section-presentation .container-button button {
  border: none;
  width: 30vh;
  height: 8vh;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  font-weight: 600;
  color: white;
  border-radius: 5vh;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
}
.section-presentation .container-button button:hover{
  opacity: 0.8;
}
.section-presentation .container-button .button-primary {
  background-color: hsl(171, 66%, 44%);
  margin-right: 3vh;
  /*box-shadow: 42px -11px 400px 27px hsl(171, 66%, 44%);*/
  border-bottom: 4px solid hsl(171, 67%, 35%);
}
.section-presentation .container-button .button-second {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 4px solid hsl(233, 45%, 46%);
}
@media (max-width:450px) {
  .section-presentation{
    text-align: center;
    height: 110vh;
    background-image: url('../../assets/img/bg-header-mobile.png');
    padding: 3vh;
  }
  .section-presentation .container-tittle h1{
    font-size: 4.8vh;
  }
  .section-presentation .container-tittle p{
    width: 90%;
  }
  .section-presentation .container-button button{
    width:100%;
  }
  .section-presentation .container-button .button-primary {
    margin-bottom: 3vh;
    margin-right: 0px;
  }
}