.section-supercharge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 5vh;
  .container-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 4vh;
      font-weight: 600;
      color: $color-second;
      margin: 0px;
    }
    p {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 2.4vh;
      font-weight: 400;
      opacity: 0.6;
      color: $color-second;
      text-align: center;
      width: 100%;
    }
  }
  .container-item {
    display: grid;
    grid-template-columns: repeat(3, 27%);
    justify-content: center;
    align-items: center;
    height: 40vh;
    column-gap: 4vh;
    .card-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card-item img {
      width: 5vh;
      height: 5vh;
      object-fit: contain;
      margin-bottom: 2vh;
    }
    .card-item h2 {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 3vh;
      font-weight: 600;
      color: $color-second;
      margin: 0px;
    }
    .card-item p {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 2.4vh;
      font-weight: 400;
      opacity: 0.6;
      color: $color-second;
      text-align: center;
      line-height: 3.4vh;
      width: 90%;
    }
  }
  .container-img {
    display: grid;
    grid-template-columns: repeat(5, 16%);
    column-gap: 2vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    img {
      width: 18vh;
      height: 18vh;
      object-fit: contain;
      padding: 1vh;
    }
  }
  @media (max-width: $medium) {
    height: auto;
    padding: 6vh;
    .container-tittle {
      flex-direction: column;
      h1 {
        text-align: center;
      }
      p {
        width: 90%;
      }
    }
    .container-item {
      grid-template-columns: none;
      height: auto;
      .card-item img {
        margin-top: 3vh;
        margin-bottom: 3vh;
      }
      .card-item h2 {
        text-align: center;
      }
      .card-item p {
        flex-direction: column;
        text-align: center;
        width: 90%;
      }
    }
    .container-img {
      grid-template-columns: none;
      img {
        height: 18vh;
        width: 18vh;
        grid-template-columns: none;
      }
    }
  }
}