//size devices para cambiar el tamaño 
$medium: 450px;

//colors
$color-primary: hsl(171, 66%, 44%);
$color-second: hsl(210, 10%, 33%);
$color-third: hsl(233, 100%, 69%);
$color-fourth: hsl(233, 45%, 46%);
$color-fifth: hsl(171, 67%, 35%);
$color-white: #f5f6f8;