.section-access {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding-top: 2vh;
}
.section-access .container-tittle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-access .container-tittle h1{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 4vh;
  font-weight: 600;
  color:hsl(210, 10%, 33%);
  margin: 0px;
}
.section-access .container-tittle p{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  font-weight: 400;
  opacity: 0.6;
  color:hsl(210, 10%, 33%);
  text-align: center;
  width: 75%;
}
.section-access .img-access{
  height: 75%;
  width: 75%;
  object-fit: contain;
}
@media (max-width: 450px){
  .section-access {
    padding: 4vh;
    height: 60vh;
  }
  .section-access .container-tittle{
    margin-bottom: 4vh;
  }
  .section-access .container-tittle h1{
    text-align: center;
  }
  .section-access .img-access{
    height: 90%;
    width: 90%;
  }
  .section-access .container-tittle p{
    width: 100%;
  }
}