.footer{
  display:grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  height: 20vh;
  background-color: #F5F6F8;
}

.footer .list-items{
  display: grid;
  grid-template-columns: 20% 20% auto;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer .list-items li {
  height: 6vh;
}

.footer .list-items li a{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  color:hsl(210, 10%, 33%);
  text-decoration: none;
  transition: all 0.5s ease;
}

.footer .list-items li a:hover{
  color:hsl(171, 66%, 44%);
}

.footer .logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 8vh;
  height: 8vh;
}

.footer .social-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-container a{
  font-size: 4vh;
  margin-right: 4vh;
  color:hsl(210, 10%, 33%);
  transition: all 0.5s ease;
}

.footer .social-container a:hover{
  color: hsl(171, 66%, 44%);
}

@media (max-width: 450px){
  .footer {
    grid-template-columns: 100%;
    height: auto;
  }
  .footer .list-items{
    grid-template-columns: 100%;
    text-align: center;
  }
  .footer .logo-container{
    height: 18vh;
  }
  .footer .list-items li {
    height: 7vh;
  }
  .footer .list-items li:last-child {
    height: 4vh;
  }
  .footer .social-container{
    height: 16vh;
  }
  .footer .social-container a{
    margin: 0px;
    margin-right: 6vh;
  }
  .footer .social-container a:last-child{
    margin-right: 0px;
  }
}