.section-clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.section-clipboard .container-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.2vh;
}

.section-clipboard .container-tittle h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 4vh;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  margin: 0px;
}

.section-clipboard .container-tittle p {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  font-weight: 400;
  opacity: 0.6;
  color: hsl(210, 10%, 33%);
  text-align: center;
  width: 64%;
}

.section-clipboard .container-button button {
  border: none;
  width: 30vh;
  height: 8vh;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 2.4vh;
  font-weight: 600;
  color: white;
  border-radius: 5vh;
  cursor: pointer;
  outline: none;
  transition: all 0.8s ease;
}

.section-clipboard .container-button button:hover {
  opacity: 0.8;
}

.section-clipboard .container-button .button-primary {
  background-color: hsl(171, 66%, 44%);
  margin-right: 3vh;
  border-bottom: 4px solid hsl(171, 67%, 35%);
}

.section-clipboard .container-button .button-second {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 4px solid hsl(233, 45%, 46%);
}

@media (max-width:450px) {
  .section-clipboard {
    text-align: center;
    padding: 4vh;
    height: 80vh;
    padding-bottom: 14vh;
  }
  .section-clipboard .container-tittle h1{
    font-size: 4.5vh;
    text-align:center;
  }
  .section-clipboard .container-tittle p {
    width: 95%;
  }
  .section-clipboard .container-button button{
    width: 100%;
  }
  .section-clipboard .container-button .button-primary {
    margin-right: 0px;
    margin-bottom: 3vh;
  }
}