.section-clipboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  .container-button {
    width: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2vh;
  }
  .container-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.2vh;
    h1 {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 4vh;
      font-weight: 600;
      color: $color-second;
      margin: 0px;
    }
    p {
      font-family: "Bai Jamjuree", sans-serif;
      font-size: 2.4vh;
      font-weight: 400;
      opacity: 0.6;
      color: $color-second;
      text-align: center;
      width: 64%;
    }
  }
  @media (max-width: $medium) {
    text-align: center;
    padding: 4vh;
    height: 40vh;
    padding-bottom: 14vh;
    .container-tittle {
      h1 {
        font-size: 4.5vh;
        text-align: center;
      }
      p {
        width: 95%;
      }
    }
    .container-button {
      grid-template-columns: 100%;
      row-gap: 2vh;
      width: 100%;
    }
  }
}